<div class='bar_title'></div>

*Decision Support Systems*

# Headline

student1, student2, student3, student,4 <br>

Winter Semester 19/20

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data" data-toc-modified-id="Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data</a></span><ul class="toc-item"><li><span><a href="#Distances" data-toc-modified-id="Distances-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Distances</a></span></li></ul></li><li><span><a href="#Implementation" data-toc-modified-id="Implementation-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Implementation</a></span></li></ul></div>

In [1]:
!pip install pulp
from pulp import *
from geopy.distance import great_circle

import pandas as pd
import numpy as np

Requirement already satisfied: pulp in c:\users\toni greif\anaconda3\lib\site-packages (1.6.10)
Requirement already satisfied: pyparsing>=2.0.1 in c:\users\toni greif\anaconda3\lib\site-packages (from pulp) (2.3.0)

## Data

In [2]:
shipping = {
    ('LosMiranas','Medellin'): [99999, 5, 0.2],
    ('Curillo','Medellin'): [99999, 5, 0.2],
    ('Segovia','Medellin'): [99999, 5, 0.2],
    
    ('Medellin','NewYork'): [500, 3, 1], 
    ('Medellin','Miami'): [1000, 3, 1],
    
    ('Medellin','Varadero'): [5000, 10, 1],
    
    ('Varadero','NewYork'): [3000, 5, 1], 
    ('Varadero','Miami'): [4000, 15, 1],
    
    ('Medellin','NuevoLaredo'): [5000, 5, 1],
    
    ('NuevoLaredo','NewYork'): [2000, 10, 1], 
    ('NuevoLaredo','Miami'): [4000, 10, 1],     
}

links = list(shipping.keys())

### Distances

In [3]:
locations = {
    'LosMiranas': (-1.320259, -70.811026),
    'Curillo': (1.032862, -75.919891),
    'Segovia': (7.078689, -74.700168),
    
    'Medellin': (6.250175, -75.572972), 
    'Varadero': (23.177815, -81.200339),
    'NuevoLaredo': (27.464579, -99.545107),
    
    'NewYork': (40.706773, -74.010585), 
    'Miami': (25.758597, -80.190835)    
}

In [4]:
dist = pd.DataFrame([[great_circle(locations[i],locations[j]).km for i in locations] for j in locations])

dist.columns = locations
dist.index = locations

In [5]:
dist

,LosMiranas,Curillo,Segovia,Medellin,Varadero,NuevoLaredo,NewYork,Miami
LosMiranas,0.000000,625.405343,1028.793964,994.015054,2947.051773,4436.319685,4684.430496,3175.394061
Curillo,625.405343,0.000000,685.731268,581.414610,2527.520475,3870.025141,4415.741427,2787.224898
Segovia,1028.793964,685.731268,0.000000,133.339007,1920.286961,3463.026031,3739.904367,2157.199936
Medellin,994.015054,581.414610,133.339007,0.000000,1976.356181,3459.581054,3834.557783,2224.021630
Varadero,2947.051773,2527.520475,1920.286961,1976.356181,0.000000,1902.380226,2061.887379,304.611024
NuevoLaredo,4436.319685,3870.025141,3463.026031,3459.581054,1902.380226,0.000000,2758.622064,1931.475359
NewYork,4684.430496,4415.741427,3739.904367,3834.557783,2061.887379,2758.622064,0.000000,1757.500063
Miami,3175.394061,2787.224898,2157.199936,2224.021630,304.611024,1931.475359,1757.500063,0.000000

In [6]:
dist['LosMiranas']['Curillo']

625.4053428319017

## Implementation